body 
{
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #3118d1;
}


h1 
{
  border-width: 50cm;
  border-color: #d6f300;
  color: #882697;
 
}


h2 
{
  color: #e60000;
  background: #f2ff00;
}
